<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        <%=title %>
    </h1>

    <form action="/aksi-tambah" method="post">
        <label for="">Nama</label>
        <br>
        <input type="text" name="nama">

        <br>
        <label for="">NIM</label>
        <br>
        <input type="text" name="nim">
        <br>
        <label for="">Angkatan</label>
        <br>
        <input type="text" name="angkatan">
        <br>
        <label for="">Kelas</label>
        <br>
        <input type="text" name="kelas">
        <br>
        <br>
        <button type="submit">Tambah</button>
    </form>
</body>

</html>